* {
    font-family: Consolas, monaco, monospace;
}

body {
      font-size: 12px;
      color: #ffffff;
      background-color: #212121;
      margin: 0 auto;
      width: 75%;
      max-width: 128ch;
    }

h1 {
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    text-transform: uppercase;
    color: #ff6e40
}

p {
    margin-top: 0;
}

a {
    color: #ff6e40
}
.wideline {
    display: flex;
    justify-content: space-between;
}

.wideline span {
    flex: 0 1 auto;
}

.sub {
    padding-left: 6ch;
}