* {
    font-family: Consolas, monaco, monospace;
}

body {
      font-size: 12px;
      color: #ffffff;
      background-color: #212121;
      margin: 0 auto;
      width: 78ch;
    }

h1 {
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    text-transform: uppercase;
    color: #ff6e40
}

p {
    margin-top: 0;
    padding-left: 7ch;
}

.wideline {
    display: flex;
    justify-content: space-between;
}

.wideline span {
    flex: 0 1 auto;
}